<!DOCTYPE html>
<html>
<head>
    <title>Регистрация неверная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">  <!-- Сделаешь новый CSS с красной окантовкой -->
</head>
<body>
<div class="login-box">  <!-- Над формой добавь что то типо Страница регистрации, типо того -->
  <div class="login__main-text">
    Registration incorrect
  </div>
  <form method="POST" action="/register">
    <div class="user-box">
      <input type="text" id="username" name="username" required="">
      <label for="username">Name</label>
    </div>
    <div class="user-box">
      <input type="password" id="password" name="password" required="">
      <label for="password">Password</label>
    </div>
    <div class="user-box">
      <input type="text" id="email" name="email" required="">
      <label for="email">Email</label>
    </div><center>
    <a href="{{ url_for('login')}}">
      <input class="login__submit" type="submit" value="register" href="{{ url_for('login')}}">
      <span class="span__submit"></span>
    </a>
  </center>
  </form>
</div>
</body>
</html>